.gradle/
.idea/
log/
build/
dist/
.vscode/
.settings/**
java-sdk.iml

## eclipse ##
.classpath
.project
*/.settings/**
out/
*/dist/**
*/build/**
conf/

## integration test files
nodes/
src/integration-test/resources/conf**
src/integration-test/resources/log**
src/integration-wasm-test/resources/conf**
src/integration-wasm-test/resources/log**
build_chain.sh
account/
conf/
gmcert.cnf
gmsm2.param
integrationTestEnv.sh
gradle.properties
gpg.gpg

## macOS
.DS_Store
