version: 2.1
jobs:
  build:
    working_directory: /java-sdk
    docker:
      - image: centos:7
        environment:
          PATH=$PATH:/usr/bin
    steps:
      - run:
          name: Setup dependencies
          command: |
            yum install -y epel-release centos-release-scl which wget
            yum install -y git openssl-devel openssl java java-devel
      - checkout
      - run:
          name: Compile
          command: |
            bash gradlew build -x test -x integrationTest
      - run:
          name: Integration Test
          command: |
            bash .ci/ci_check.sh